$primary: #3A817E;
$secondary: #1F2833;
$complement: #45A29E;

$white: #FFFFFF;
$black: #FFFFFF;

body {
  margin: 0;
  padding: 0;
}

.root {
  height: 100vh;
}

.background {
  margin: 0;
  padding: 0;
  background: $secondary;
}

#welcome {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
